<?xml version="1.0" encoding="utf-8"?>

<LanguageData>

  <Make_10xGNAT_ThrowingStones_Bulk.label>make throwing stones x10</Make_10xGNAT_ThrowingStones_Bulk.label>
  <Make_10xGNAT_ThrowingStones_Bulk.description>Make throwing stones x10.</Make_10xGNAT_ThrowingStones_Bulk.description>
  <Make_10xGNAT_ThrowingStones_Bulk.jobString>Making throwing stones x10.</Make_10xGNAT_ThrowingStones_Bulk.jobString>

</LanguageData>
