<?xml version="1.0" encoding="utf-8"?>

<LanguageData>

  <Make_10xVFEC_Javelin.label>make javelins x10</Make_10xVFEC_Javelin.label>
  <Make_10xVFEC_Javelin.description>Make javelins x10.</Make_10xVFEC_Javelin.description>
  <Make_10xVFEC_Javelin.jobString>Making javelins x10.</Make_10xVFEC_Javelin.jobString>

</LanguageData>
