<?xml version="1.0" encoding="utf-8"?>

<LanguageData>

  <Make_10xVWE_Throwing_Shards_Bulk.label>make throwing shards x10</Make_10xVWE_Throwing_Shards_Bulk.label>
  <Make_10xVWE_Throwing_Shards_Bulk.description>Make throwing shards x10.</Make_10xVWE_Throwing_Shards_Bulk.description>
  <Make_10xVWE_Throwing_Shards_Bulk.jobString>Making throwing shards x10.</Make_10xVWE_Throwing_Shards_Bulk.jobString>

</LanguageData>
