<?xml version="1.0" encoding="utf-8"?>

<LanguageData>

  <Make_10xVFES_Tomahawk.label>make tomahawks x10</Make_10xVFES_Tomahawk.label>
  <Make_10xVFES_Tomahawk.description>Make tomahawks x10.</Make_10xVFES_Tomahawk.description>
  <Make_10xVFES_Tomahawk.jobString>Making tomahawks x10.</Make_10xVFES_Tomahawk.jobString>

</LanguageData>
